# ── Base de données PostgreSQL ─────────────────────────────────────────────
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# ── API football-data.org ──────────────────────────────────────────────────
FOOTBALL_DATA_API_TOKEN=

# ── MinIO (Data Lake S3) ───────────────────────────────────────────────────
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# ── Airflow — Alertes email ────────────────────────────────────────────────
AIRFLOW_ALERT_EMAIL=
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_USER=
AIRFLOW__SMTP__SMTP_PASSWORD=          # mot de passe d'application Google (16 caractères)
AIRFLOW__SMTP__SMTP_MAIL_FROM=